:root{
	--dark: #000000;
	--white: #ffffff;
	--grey: #efefef;
	--orange: #ff7031;
}
/*-----------------------------
Font Face
-------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap');



/*-----------------------------
General
-------------------------------*/
h1{font-size: 36px;}
h2{font-size: 26px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
body{
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
}
a, a:hover{
	color: var(--dark);
	text-decoration: none;
}
.bg-orange{

}

