:root{
	--dark: #000000;
	--darkgrey: #767676;
	--deepgrey: #808080;
	--lightgrey: #afafaf;
	--thingrey: #f7f6f5;
	--white: #ffffff;
	--grey: #efefef;
	--orange: 255, 112, 49;
	--yellow: #ffda00;
	--red: #ff3333;
	--opacity5: 0.5;
	--opacity2: 0.2;


}
/*-----------------------------
Font Face
-------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap');



/*-----------------------------
General
-------------------------------*/
h1{font-size: 36px;}
h2{font-size: 26px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
body{
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
}
a, a:hover{
	color: var(--dark);
	text-decoration: none;
}
.btn{
	outline: none;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #fff;
}
.form-control::-webkit-input-placeholder{
	color: #eaeaea;
	font-weight: bold;
	font-size: 14px;
}   
.form-control::placeholder{
	color: #eaeaea;
	font-weight: bold;
	font-size: 14px;
}
.form-control:-ms-input-placeholder{
	color: #eaeaea;
	font-weight: bold;
	font-size: 14px;
}
.form-control::-ms-input-placeholder {
	color: #eaeaea;
	font-weight: bold;
	font-size: 14px;
}
.btn{
	font-size: 14px;
}
.btn-primary, 
.btn-primary:active,
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus {
	background-color: rgba(var(--orange)) !important;
	border-color: rgba(var(--orange));
}
.btn-outline-primary{
	border-color: rgba(var(--orange));
	color: var(--dark);
}

.color-red{
	color: var(--red);
}
.color-orange{
	color: var(--orange);
	color: rgba(var(--orange));
}
.color-lightgrey{
	color: var(--lightgrey);
}
.color-deepgrey{
	color: var(--deepgrey);
}
.bg-white{
	background-color: var(--white);
}
.bg-orange{
	background-color: rgba(var(--orange));
}
.bg-dark{
	background-color: var(--dark);
}
.bg-grey{
	background-color: var(--grey);
}
.bg-darkgrey{
	background-color: var(--darkgrey);
}
.bg-lightgrey{
	background-color: var(--lightgrey);
}
.bg-thingrey{
	background-color: var(--thingrey);
}
.opacity5{
	opacity: var(--opacity5);
}
.opacity2{
	opacity: var(--opacity2);	
}
.text-underline{
	text-decoration: underline;
}
.w-30{
	width: 40%;
}
.w-10{
	width: 20%;
}
.la-1x{
	font-size: 18px !important;
}
.la-2x{
	font-size: 24px !important;
}
/*-----------------------------------------
Product Summary
-------------------------------------------*/
.product-summary .title-product{
	font-size: 20px;
}
.product-summary .price-product .price-tags{
	font-size: 18px;
}
.product-summary .linethrough{
	position: relative;
	color: var(--lightgrey);
}
.product-summary .linethrough:after{
	background: red;
  	content: "";
  	height: 1px;
  	left: 0;
  	margin-top: calc(0.125em / 2 * -1);
  	position: absolute;
  	right: 0;
  	top: 50%;
  	transform: skewY(-3deg);
}
/*-----------------------------------------
Product Featured
-------------------------------------------*/
.product-featured .product-summary .rating-product .la-star{
	color: var(--yellow);
}
/*.product-featured .product-summary .rating-product .la-2x{
      font-size: 24px;
}*/
.product-featured .product-summary .title-product{
	font-size: 30px;
}
.product-featured .product-summary .price-product .price-tags{
	font-size: 28px;
}
.product-summary .variation-product .color{
	display: block;
    width: 27px;
    height: 27px;
}
.product-summary .variation-product li{
 	display: inline-block;
 	margin-right: 10px;
}
.product-summary .variationcolor-selected{
	position: relative;
	
}
.product-summary .variationcolor-selected:after{
	background-color: red;
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
}
.product-summary .custom-select{
	border-color: var(--dark);
	height: inherit;
	padding: 10px 10px 5px 10px;
	font-weight: bold;
}
.product-summary .btn{
	padding: 8px 20px 5px 20px;
}
.carousel-item.active{
      border: 2px solid var(--orange);
    }
    .carousel-indicators{
      position: relative;
      display: block;
      margin: 0;
    }
    .carousel-indicators li{
     /* width: inherit;
      height: inherit;
      background: #999;
      margin: 0;
      border: 0;*/
      text-indent: inherit;
      width: inherit;
      height: inherit;
      margin: 0 0 10px;
      padding: 0;
      border: 0;
    }
.carousel-indicators .active{
	border: 2px solid var(--orange);
} 
/*-----------------------------------------
Product Review
-------------------------------------------*/   
.product-review .left-column{
	padding-left: calc((100vw - 1130px) / 2);
   	display: flex;   
    flex-direction: column;
    height: 100%;
}
.product-review .left-column .nav-review ul{

}
.product-review .left-column .nav-review li{
	position: relative;
	
}
.product-review .left-column .nav-review li a{
	position: relative;
	padding: 0 10px;
	color: var(--darkgrey);
}
.product-review .left-column .nav-review li a.active{
	color: var(--dark);
}
.product-review .left-column .nav-review li a:after{
	position: absolute;
	right: 0;
	top: 4px;
	background: var(--dark);
	width: 1px;
	height: 70%;
	content: "";
}
.product-review .left-column .nav-review li:last-child a:after{
	display: none;
}
.product-review .left-column .star-review .la-star{
	font-size: 24px;
}
.product-review .left-column .progress-review .la-star{
	font-size: 18px;
}
.product-review .left-column .progress{
	height: 6px;
	margin-top: 7px;
	background-color: rgba(var(--orange), var(--opacity2));
}
.product-review .left-column .progress-bar{
	background-color: rgba(var(--orange));
}
.product-review .right-column .list-reviewer .la-star{
	font-size: 18px;
	color: rgba(var(--orange));
}



/*.similar-product .product-summary .title-product{
	font-size: 20px;
}
.similar-product .product-summary .price-product .price-tags{
	font-size: 18px;
}*/
.similar-product .carousel-control-prev, 
.similar-product .carousel-control-next{
	height: 50px;
	width: 50px;
	background: var(--white;);
}

.subscribe .custom-radio .custom-control-label::before{
    border-radius: 0;
}
.subscribe .custom-radio .custom-control-input:checked ~ .custom-control-label::after{
    background: rgba(var(--orange));
}
.subscribe{
	background: var(--grey) url("images/img-subscribe.jpg") no-repeat right;
	min-height: 400px;
}
.subscribe h3, .subscribe p{
	font-size: 22px;
	color: var(--darkgrey)
}
.subscribe h4{
	font-size: 26px;
}
.subscribe-form .title-form{
	font-size: 14px;
}
.subscribe-form .form-check{
	padding-left: 0;
	margin-left: 26px;
}
.subscribe-form .custom-radio span{
	margin-top: 2px;
}
.subscribe-form .btn-primary{
	width: 200px;
}




@media(max-width:640px){
	.myaccount .left-column .list-group-item{
		width: 50%;
	}	
}